{% extends "base.html" %}

{% block content %}
<h1>Registrando livro</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.author.label }}<br>
        {{ form.author(size=32) }}<br>
        {% for error in form.author.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.category.label }}<br>
        {{ form.category(size=32) }}<br>
        {% for error in form.category.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.pages.label }}<br>
        {{ form.pages(size=10) }}<br>
        {% for error in form.pages.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(cols=50, rows=4) }}<br>
        {% for error in form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.publishCompany.label }}<br>
        {{ form.publishCompany(size=32) }}<br>
        {% for error in form.publishCompany.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}